/reto6/cambiandoCamara3D/nbproject/private/
/reto6/cambiandoCamara3D/build/
/reto6/dibujandoTransformaciones3D/build/
/reto6/dibujandoTransformaciones3D/nbproject/private/
/reto4/dibujandoTransformaciones/dist/
/reto6/dibujandoTransformaciones3D/dist/
/reto7/Bezier/nbproject/private/
/reto7/Bezier/build/
/reto8/nbproject/private/
/reto8/build/
/reto8/pintor/nbproject/private/
/reto8/pintor/build/
/reto8/wasServer/nbproject/private/
/reto8/wasServer/build/
/reto8/wasServer/dist/
/reto8/SIW/nbproject/private/
/reto8/SIW/build/
/reto8/SIW/dist/