/reto6/cambiandoCamara3D/nbproject/private/
/reto6/cambiandoCamara3D/build/
/reto6/dibujandoTransformaciones3D/build/
/reto6/dibujandoTransformaciones3D/nbproject/private/
/reto4/dibujandoTransformaciones/dist/
/reto6/dibujandoTransformaciones3D/dist/
/reto7/Bezier/nbproject/private/
/reto7/Bezier/build/